= simple_form_for @enterprise_company_user, remote: true do |f|

  .row
    .col-12 
      = f.input :name, as: :string

  .row
    .col-12 
      = f.input :email, as: :string

  .row
    .col-12 
      = f.input :administrator, as: :string

  .row
    .col-12 
      = f.input :password, as: :string

  .row
    .col-12 
      = f.input :passwor_expires_at, as: :string

  .row
    .col-12 
      = f.input :last_password, as: :string

  .row
    .col-12 
      = f.input :remember_token_expires_at, as: :string

  .row
    .col-12 
      = f.input :status, as: :string

  .row
    .col-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with) }