.row
  .col-md-12
    %h5 
      %b Assuntos (#{@enterprise_company.enterprise_company_users.count})
    = link_to "Adicionar usuario", new_enterprise_company_enterprise_company_user_path(@enterprise_company), remote: true
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %td Nome
          %td E-mail
          %td Administrador?
          %td Status
          %td 
      %tbody
        - if @enterprise_company_users.present?
          - @enterprise_company_users.each do |enterprise_company_user|
            %tr{class: "row-enterprise-company-user-#{enterprise_company_user.id}"}
              %td= enterprise_company_user.name
              %td= enterprise_company_user.email
              %td= enterprise_company_user.administrator.status_format
              %td= enterprise_company_user.status.status_format
              %td.collapsing
                = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, address.edit_enterprise_company_enterprise_company_user_path(@enterprise_company, enterprise_company_user), remote: true, class: 'btn btn-info btn-icon btn-sm'
                = link_to "<i class='fa fa-trash'></i>".html_safe, address.enterprise_company_enterprise_company_user_path(@enterprise_company, enterprise_company_user), method: :delete, remote: true, class: 'btn btn-danger btn-icon btn-sm', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 3}
              Nenhum registro registrado.