.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@enterprise_company_users.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr

          %td name
        
          %td email
        
          %td administrator
        
          %td password
        
          %td passwor_expires_at
        
          %td last_password
        
          %td remember_token_expires_at
        
          %td status
        
      %tbody
        - if @enterprise_company_users.present?
          - @enterprise_company_users.each do |enterprise_company_user|
            %tr{class: "row-enterprise_company_user-#{enterprise_company_user.id}"}

              %td= enterprise_company_user.name
            
              %td= enterprise_company_user.email
            
              %td= enterprise_company_user.administrator
            
              %td= enterprise_company_user.password
            
              %td= enterprise_company_user.passwor_expires_at
            
              %td= enterprise_company_user.last_password
            
              %td= enterprise_company_user.remember_token_expires_at
            
              %td= enterprise_company_user.status
            
              %td
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", address.enterprise_company_user_path(enterprise_company_user), class: 'dropdown-item'
                    = link_to "Editar", address.edit_enterprise_company_user_path(enterprise_company_user), remote: true, class: 'dropdown-item'
                    = link_to "Remover", address.enterprise_company_user_path(enterprise_company_user), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 8}
              %i Nenhum registro encontrado.
                  