.card
  .card-body.card-header.border-left-yellow
    .card-title
      %a.collapsing-content-link{href:"javascript:void(0)"}
        1. Etiqueta (#{@unit.unit_labels.count})
  .card-body.unit-label-display{style: 'display: none'}
    .row
      .col-md-12
        %h6
          = link_to "+ Adicionar etiqueta", address.new_unit_unit_label_path(@unit), remote: true
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Etiqueta
              %th Usuario
              %th Observação
              %th
          %tbody
            - if @unit.unit_labels.present?
              - @unit.unit_labels.order(created_at: :desc).each do |unit_label|
                %tr{class: "row-label-#{unit_label.id}"}
                  %td= unit_label.label.name rescue t(:no_info)
                  %td= unit_label.user.name rescue t(:no_info)
                  %td= unit_label.observation
                  %td.collapsing
                    .dropdown
                      %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %i.fa.fa-cog
                        %i.ti-angle-down
                      .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                        = link_to "Editar", address.edit_unit_unit_label_path(@unit, unit_label), remote: true, class: 'dropdown-item'
                        = link_to "Excluir", address.unit_unit_label_path(@unit, unit_label), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
            - else
              %tr
                %td{colspan: 3}
                  Nenhum assunto registrado.
