= simple_form_for @post_category, remote: true do |f|

  .row
    .col-12 
      = f.input :name, as: :string
  .row
    .col-6 
      = f.input :status, as: :select, include_blank: 'Selecione...'
    .col-6 
      = f.input :category_type_id,collection: Cms::PostCategoryType.status_active, include_blank: 'Selecione...'
  
  .row
    .col-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with) }