= simple_form_for @invoice, remote: true do |f|
  .row
    .col-md-12
      = f.input :category_id, as: :select, collection: Brb::Category.all, include_blank: 'selecione...', input_html: {disabled: @invoice.new_record? ?  false : true}
  .row
    .col-md-3
      = f.input :due, as: :string, input_html: { class: 'date', value: f.object.due? ? localize(f.object.due) : '' }
    .col-md-3
      = f.input :value, as: :string, input_html: { class: 'coin', value: f.object.value? ? number_with_precision(f.object.value, precision: 2) : 0}
    .col-md-3
      = f.input :invoice_type_id, as: :select, collection: Brb::InvoiceType.all, include_blank: 'selecione...'
    .col-md-3
      = f.input :situation_id, as: :select, collection: Brb::InvoiceSituation.all, include_blank: 'selecione...'
  .row
    .col-md-8
      = f.input :name, placeholder: "Digite um nome"
    .col-md-4
      = f.input :cpf, input_html: { class: 'cpf'}
  .row
    .col-md-4
      = f.input :cnpj, input_html: { class: 'cnpj'}
    .col-md-4
      = f.input :number_document, input_html: { class: 'document_number'}
    .col-md-4
      = f.input :cep, input_html: { class: 'cep'}
  .row
    .col-md-3
      = f.input :state_id, as: :select, collection: Support::Common::State.all, include_blank: 'selecione...'
    .col-md-3
      = f.input :city
    .col-md-6
      = f.input :address
  .row
    .col-md-12
      = f.input :message, input_html: { rows: 2 }
  .divider-sm
  = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with) }
