.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@invoices_all.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'

  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Código
          %th Tipo
          %th Categoria
          %th CPF/CNPJ
          %th Valor
          %th Emitido em
          %th Vencimento
          %th Liquidação
          %th Situação
          %th
      %tbody
        - if @invoices.present?
          -@invoices.order(:id).each do |invoice|
            %tr{class: "row-invoice-#{invoice.id}"}
              %td.collapsing= invoice.id
              %td= invoice.invoice_type.name rescue nil
              %td= invoice.category.name rescue nil
              %td= invoice.cpf.present? ? invoice.cpf : invoice.cnpj
              %td= number_to_currency invoice.value
              %td= invoice.created_at.format_date
              %td= invoice.due.format_date
              %td= invoice.payment.format_date rescue nil
              %td= invoice.situation.name rescue nil
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Editar", edit_invoice_path(invoice), class: 'dropdown-item', remote: true
                    = link_to "imprimir", invoice_path(invoice), class: 'dropdown-item',target: "_blank"
          %tfoot
            %tr
              %td.text-center{colspan: 10}
                = pagy_bootstrap_nav(@pagy).html_safe
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum boleto registrado.
