= simple_form_for @job, remote: true do |f|
  .row
    .col-md-12
      = f.input :name, placeholder: 'Digite o nome'
  .row
    .col-md-6
      = f.input :code, placeholder: 'Digite o código'
    .col-md-6
      = f.input :function_code, placeholder: 'Digite o código da função'
  .row
    .col-md-6
      = f.input :salary, placeholder: 'Digite o salário'
    .col-md-6
      = f.input :status, as: :select, include_blank: 'selecione...'
  .divider-sm
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'