#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Novo tipo de isenção", new_exemption_type_path, class: 'filter-nav-item',  remote: true
      %hr.divider
      = link_to "Gestão de situações", request_situations_path
      = link_to "Gestão de tipos de solicitação", request_types_path
      = link_to "Gestão de lotes de isenção", allotments_path
