#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar categoria", new_category_path, class: 'filter-nav-item',  remote: true
      %hr/
      = link_to "Gestão de atendimentos", attendance.dailies_path, class: 'filter-nav-item'
      = link_to "Gestão de tipos preferêncais" , attendance.daily_preferential_types_path, class: 'filter-nav-item'
      = link_to "Gestão de tipos de atendimento" , attendance.daily_types_path, class: 'filter-nav-item'
     