.card.filter-sidebar
  #card
    .card-heading.custom-border-left.bottom
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "float-right arrow-collapsing" do
          %i.fa.fa-minus
    .card-block
      .row
        .col-md-12
          = simple_form_for url_for, method: :get, remote: true do |f|
            %ul
              %li
                = f.input :by_name, label: "Por nome", placeholder: 'Digite o nome'
              %li
                = f.input :by_status, as: :select, label: "Por status", include_blank: 'selecione...'
              %li
                = f.submit "Filtrar", name: nil, class: 'btn btn-success btn-block'
  #card
    .card-heading.custom-border-left.border
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "float-right arrow-collapsing" do
          %i.fa.fa-minus
    .card-block
      .row
        .col-md-12        
          %ul
            %li
              %span= link_to "Adicionar categoria", new_category_path, class: 'filter-nav-item',  remote: true
  #card         
    .card-heading.custom-border-left.border
      .card-title 
        Menu rápido
        = link_to "javascript:void(0)", class: "float-right arrow-collapsing" do
          %i.fa.fa-minus   
    .card-block
      .row
        .col-md-12        
          %ul
            %li
              %span= link_to "Gestão de atendimentos", "#", class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de postos", "#", class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de atendentes", "#", class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de atendentes por postos", "#", class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de categorias", attendance.categories_path, class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de tipos de atendentes", attendance.attendant_types_path, class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de tipos preferêncais" , attendance.daily_preferential_types_path, class: 'filter-nav-item'
            %li
              %span= link_to "Gestão de tipos de atendimentos" , attendance.daily_types_path, class: 'filter-nav-item'