#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_name, label: "Por nome", input_html: {name: :by_name, value: params[:by_name]}
        = f.input :by_status,as: :select, label: "Por status", input_html: { name: :by_status, value: params[:by_status]}
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
        = link_to "Limpar", url_for, class: 'btn btn-dark btn-block'
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar convocações", candidate.new_convocation_path, remote: true
      %hr.divider
      = link_to "Gestão de candidatos", root_path
