#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_cpf, label: "Por CPF", input_html: { class: 'cpf', name: 'by_cpf' }
        = f.input :by_return, label: "Por Retorno", collection: [['Com problemas', true],['Sem problemas', false]], input_html: { name: 'by_return' }, prompt: 'Tipo retorno'
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
        = link_to "Limpar", allotment_exemptions_path(@allotment), class: 'btn btn-light btn-block', remote: true
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Novo Candidato", new_allotment_exemption_path(@allotment), class: 'filter-nav-item',  remote: true
      = link_to "Upload Planilha", new_allotment_exemption_file_path(@allotment), class: 'filter-nav-item', remote: true
      = link_to "Reprocessar", allotment_to_process_path(@allotment), class: 'filter-nav-item'
      = link_to "Enviar Solicitação", allotment_send_exemption_path(@allotment), class: 'filter-nav-item'
      = link_to "Voltar para lotes", allotments_path, class: 'filter-nav-item'
