.card
  .card-heading.custom-border-left
    .card-title
      Tipos preferenciais
      = "(#{@daily_preferential_types.count})"    
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nº
          %th Nome
          %th Descrição
          %th Status
          %th
      %tbody
        - if @daily_preferential_types.present?
          -@daily_preferential_types.order(:name).each do |daily_preferential_type|
            %tr
              %td.collapsing= daily_preferential_type.id
              %td= daily_preferential_type.name
              %td= daily_preferential_type.description
              %td.collapsing= daily_preferential_type.status? ? "Ativo" : "Inativo"
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", daily_preferential_type_path(daily_preferential_type), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
                    = link_to "Editar", edit_daily_preferential_type_path(daily_preferential_type), class: 'dropdown-item', remote: true
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum tipo de boleto registrado.