#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus  
    .card-body
      = simple_form_for url_for, method: :get, remote: true, html: { id: 'attendance-filter'}  do |f|
        = f.input :by_name, as: :select, label: "Por nome", collection: Pivotal::User.all, selected: params[:by_name], input_html: {onchange: "$('#attendance-filter').submit()", name: 'by_name'}, prompt: 'Selecione'
        = f.input :by_type, as: :select, label: "Por tipo", collection: Attendance::AttendantType.all, selected: params[:by_type] , input_html: {onchange: "$('#attendance-filter').submit()", name: 'by_type'}, prompt: 'Selecione'
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
  .divider
    .card
      .card-body.card-header.border-left-yellow
        .card-title 
          Operações
          = link_to "javascript:void(0)", class: "collapsing-link" do
            %i.fa.fa-minus
      .card-body.card-list
        = link_to "Adicionar atendente", new_attendant_path, class: 'filter-nav-item', remote: true
        %hr/
        = link_to "Gestão de postos", attendance.stations_path, class: 'filter-nav-item'
        = link_to "Gestão de atendimentos", attendance.dailies_path, class: 'filter-nav-item'
        = link_to "Gestão de tipos de atendentes", attendance.attendant_types_path, class: 'filter-nav-item'