.card
  .card-heading.custom-border-left
    .card-title 
      Categorias
      = "(#{@categories.count})"    
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nº
          %th Nome
          %th Tipo
          %th Status
          %th
      %tbody
        - if @categories.present?
          -@categories.order(:name).each do |category|
            %tr
              %td.collapsing= category.id
              %td= category.name
              %td= category.invoice_type.name rescue nil
              %td.collapsing= category.status? ? "Ativo" : "Inativo"
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", category_path(category), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
                    = link_to "Editar", edit_category_path(category), class: 'dropdown-item', remote: true
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum categoria registrada.