.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@procedural_types.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr

          %td Nome
        
          %td Descrição
        
          %td Status
          
          %td 
          
      %tbody
        - if @procedural_types.present?
          - @procedural_types.each do |procedural_type|
            %tr{class: "row-procedural-type-#{procedural_type.id}"}

              %td= procedural_type.name
            
              %td= procedural_type.description
            
              %td= procedural_type.status.status_format
              
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Editar", candidate.edit_procedural_type_path(procedural_type), remote: true, class: 'dropdown-item'
                    = link_to "Remover", candidate.procedural_type_path(procedural_type), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 3}
              %i Nenhum registro encontrado.
                  