#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_name, label: "Por nome", placeholder: 'Digite o nome'
        = f.input :by_process, label: "Por processo", placeholder: 'Digite o nº processo'
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar documento", new_notice_notice_document_path(@notice), remote: true
      = link_to "Gestão de editais", notices_path
      = link_to "Gestão de tipos de editais", notice_types_path
      = link_to "Gestão de tipos de documentos", document_types_path
