.card
  .card-body.card-header.border-left-yellow
    .card-title
      = "Documentos do edital: #{@notice.name}"
      %br
      Listando (#{@notice_documents.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Nº
          %th Nome
          %th
      %tbody
        - if @notice_documents.present?
          -@notice_documents.each do |notice_document|
            %tr
              %td.collapsing= notice_document.id
              %td= notice_document.document_type.name rescue nil
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", notice_notice_document_path(@notice, notice_document), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true

        - else
          %tr
            %td{colspan: 6}
              %i Nenhum registro encontrado.
