= simple_form_for @situation_type, remote: true do |f|
  = f.input :name, placeholder: 'Digite o nome'
  = f.input :code, placeholder: 'Digite o código'
  = f.input :status, as: :select, include_blank: false
  = f.input :label_view_candidate
  .divider
  = f.button :submit, class: 'btn btn-success'