#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar tipo de situação", new_ticket_situation_type_path, class: 'filter-nav-item',  remote: true
      %hr.divider
      = link_to "Gestão de atendimentos", attendance.tickets_path, class: 'filter-nav-item'
      = link_to "Gestão de documentos", attendance.document_types_path, class: 'filter-nav-item'
      = link_to "Gestão de categorias", attendance.ticket_categories_path, class: 'filter-nav-item'