.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h5.modal-title Detalhamento de dependente
      %a.close
        %i.fas.fa-times
    .modal-body
      %table.table.table-bordered.table-striped.table-celled
        %thead
          %tr
            %th{colspan: 3} Nome
            %th CPF
        %tbody
          %tr
            %td{colspan: 3}= @dependent.name
            %td= @dependent.cpf
        %thead
          %tr
            %th Data de Nascimento
            %th Rg
            %th Expeditor RG
            %th Rg uf
        %tbody
          %tr
            %td= @dependent.born.format_date rescue t(:no_info)
            %td= @dependent.rg
            %td= @dependent.rg_org
            %td= @dependent.rg_uf.name rescue t(:no_info)
        %thead
          %tr
            %th Data de admissão
            %th Sexo
            %th Estado civil
            %th Parentesco
        %tbody
          %tr
            %td= @dependent.admission_date
            %td= @dependent.gender.name
            %td= @dependent.civil_state.name rescue t(:no_info)
            %td= @dependent.kinship.name rescue t(:no_info)
        %thead
          %tr
            %th Nacionalidade
            %th Renda
            %th Cidade de Nascimento
            %th Profissão
        %tbody
          %tr
            %td= @dependent.nationality
            %td= @dependent.income
            %td= @dependent.place_birth
            %td= @dependent.employment
        %thead
          %tr
            %th Condição especial?
            %th Condição especial
            %th CID
            %th NIS
        %tbody
          %tr
            %td= @dependent.special_condition? ? "Sim" : "Não"
            %td= @dependent.special_condition_type.name rescue t(:no_info)
            %td= @dependent.cid
            %td= @dependent.nis
        %thead
          %tr
            %th Falecido?
            %th Data de falecimento
            %th{colspan: 2} Observação de falecimento
        %tbody
          %tr
            %td= @dependent.deceased.boolean_format rescue t(:no_info)
            %td= @dependent.deceased_date.format_date rescue t(:no_info)
            %td{colspan: 2}= @dependent.deceased_observation
