.row
  .col-md-12
    %h5 
      %b Usuários (#{@program.program_users.count})
    %h6
      = link_to "<i class='fa fa-plus'></i>".html_safe, new_program_program_user_path(@program), remote: true, data: { disable_with: t(:disable_with)}
      Usuários 
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %td Usuário
          %td Chamado
          %td Observação
          %td 
      %tbody
        - if @program.program_users.present?
          - @program.program_users.each do |program_user|
            %tr{class: "row-program-user-#{program_user.id}"}
              %td= program_user.user.name
              %td= program_user.ticket_id
              %td= program_user.observation
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Remover", candidate.program_program_user_path(@program, program_user), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 4}
              %i Nenhum registro encontrado.
                  