.card
  .card-body.card-header.border-left-yellow
    .card-title 
      Listando (#{@requeriments.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'

  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Nº 
          %th Nome
          %th Descrição
          %th Situação
      %tbody
        - if @requeriments.present?
          - @requeriments.each do |requeriment|
            %tr
              %td.collapsing= requeriment.id
              %td.collapsing= link_to requeriment.cpf.format_cpf, attendance.requeriment_path(requeriment), remote: true
              %td= requeriment.name
              %td.collapsing= requeriment.category.name rescue t(:no_info)               

        - else
          %tr
            %td
              Nenhum requerimento listado.