.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h5.modal-title Detalhamento de requerimento
      %a.close
        %i.fas.fa-times
    .modal-body
      .row
        .col-md-12
          %h6 Conteúdo      
      .row
        .col-md-12
          %table.table.table-striped.table-celled.table-bordered
            %thead
              %tr
                %th Data/Hora
                %th Situação
                %th Categoria      
            %tbody
              %tr
                %td= @requeriment.created_at.format_date
                %td= (@requeriment.attendant_answer? ? "Respondido" : (@requeriment.cancelled ? "Cancelado" : "Pendente"))                  
                %td= @requeriment.requeriment_category.name rescue t(:no_info)

          %table.table.table-striped.table-celled.table-bordered
            %thead
              %tr
                %th Nome
                %th CPF
                %th Telefone
                %th Celular
            %tbody
              %tr
                %td= @requeriment.name
                %td= @requeriment.cpf                  
                %td= @requeriment.telephone                  
                %td= @requeriment.celphone

          %table.table.table-striped.table-celled.table-bordered
            %thead
              %tr                  
                %th Cidade
                %th Endereço
            %tbody
              %tr
                %td= @requeriment.city_id
                %td= @requeriment.address

          %table.table.table-striped.table-celled.table-bordered
            %thead
              %tr                  
                %th Conteúdo
            %tbody
              %tr
                %td= @requeriment.content
      %hr/

      .row
        .col-md-12
          %h6 Anexo(s)              
      .row
        .col-md-12
          - @requeriment.requeriment_attachments.each do |attach|
            = link_to image_tag("http://localhost:3001/#{attach.attachment_url}",class: 'img-thumbnail', width: '80'), "http://localhost:3001/#{attach.attachment_url}", data: { magnify: "gallery", capition: "Anexo"}
      %hr/
      .row
        .col-md-12
          %h6 Resposta
      .row
        .col-md-12.form-content
          = render 'form'
      %hr/
      %p Requerimentos vínculados ao CPF                  
      .row
        .col-md-12
          %table.table.table-striped.table-celled.table-bordered
            %thead
              %tr                  
                %th Situação            
                %th Data/Hora            
                %th Protocolo            
                %th Nome            
                %th CPF            
                %th Categoria  
            %tbody
              - if @cadastre_requeriments.present?
                - @cadastre_requeriments.each do |requeriment|
                  %tr
                    %td.collapsing= link_to (requeriment.attendant_answer? ? "Respondido" : (requeriment.cancelled? ? "Cancelado" : "Pendente")), attendance.requeriment_path(requeriment), remote: true
                    %td.collapsing= link_to requeriment.created_at.format_date, attendance.requeriment_path(requeriment), remote: true
                    %td.collapsing= link_to requeriment.id, attendance.requeriment_path(requeriment), remote: true
                    %td= link_to requeriment.name.mb_chars.upcase, attendance.requeriment_path(requeriment), remote: true
                    %td.collapsing= link_to requeriment.cpf.format_cpf, attendance.requeriment_path(requeriment), remote: true
                    %td.collapsing= requeriment.requeriment_category.name                

              - else
                %tr
                  %td{colspan: 6}
                    Nenhum requerimento listado.