.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h5.modal-title Pesquisa rápida
      %a.close
        %i.fas.fa-times
    .modal-body
      - if !@cadastres.present?
        %p.text-center 
          Nenhum cadastro encontrado no CPF informado.
      - else
        %p Dados básicos
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th Tipo
              %th Nome
              %th CPF
              %th Situação cadastral
              %th Programa
          %tbody
            - @cadastres.each do |cadastre|
              %tr
                %td.collapsing
                  = cadastre.type_row_format
                %td
                  = link_to cadastre.name, candidate.cadastre_path(cadastre), title: cadastre.id
                %td.collapsing
                  = link_to  cadastre.cpf.format_cpf, candidate.cadastre_path(cadastre)
                %td.collapsing
                  = cadastre.situation_name rescue t(:no_info)
                %td.collapsing
                  = cadastre.program_name rescue t(:no_info)