= simple_form_for @document_type, remote: true do |f|
  .row
    .col-md-9
      = f.input :name, placeholder: 'Digite o nome'
    .col-md-3
      = f.input :code, placeholder: 'Digite o código'
  .row
    .col-md-4
      = f.input :min_file, as: :string 
  .row
    .col-md-12
      = f.input :introduction, placeholder: 'Digite uma observação', input_html: { class: 'tinymce' }
  .row
    .col-md-12
      = f.input :help_text, placeholder: 'Digite um texto de ajuda', input_html: { class: 'tinymce' }
  .row
    .col-md-2
      = f.input :status, as: :select, include_blank: 'selecione...'
  .divider
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'