.row
  .col-md-12
    %h5 
      %b Assuntos (#{@ticket_type.ticket_type_subjects.count})
    = link_to "Adicionar assunto", new_ticket_type_ticket_type_subject_path(@ticket_type), remote: true, data: { disable_with: t(:disable_with)}
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nome
          %th.collapsing Situação
          %th.collapsing
      %tbody
        - if @ticket_type.ticket_type_subjects.present? 
          - @ticket_type.ticket_type_subjects.order(:name).each do |subject|
            %tr{class: "row-subject-#{subject.id}"}
              %td= subject.name
              %td.collapsing= subject.status ? 'Ativo' : 'Inativo'
              %td.collapsing
                = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, helpdesk.edit_ticket_type_ticket_type_subject_path(@ticket_type, subject), remote: true, class: 'btn btn-info btn-icon btn-sm', data: { disable_with: t(:disable_with)}
                = link_to "<i class='fa fa-trash'></i>".html_safe, helpdesk.ticket_type_ticket_type_subject_path(@ticket_type, subject), method: :delete, remote: true, class: 'btn btn-danger btn-icon btn-sm', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 3}
              Nenhum assunto registrado.