#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true, html: { id: 'invoice-filter'} do |f|
        = f.input :by_city_id,  as: :select, label: 'Por cidade' , include_blank: t(:include_blank)
        = f.input :by_burgh_id, as: :select, label: 'Por bairro' , include_blank: t(:include_blank)
        = f.input :by_group_id, as: :select, label: 'Por quadra', include_blank: t(:include_blank)
        = f.input :by_block_id, as: :select, label: 'Por conjunto', include_blank: t(:include_blank)
        = f.input :by_unit_id,  as: :select, label: 'Por unidade', include_blank: t(:include_blank)
        = f.input :by_unit_id,  as: :select, label: 'Por situação', include_blank: t(:include_blank)
        = f.input :by_unit_id,  as: :select, label: 'Por etiqueta(s)', include_blank: t(:include_blank)
        = f.input :by_unit_id,  as: :select, label: 'Por registro', include_blank: t(:include_blank)
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block', data: {  disable_with:  t(:disable_with)}
        = link_to "Limpar", url_for, class: 'btn btn-dark btn-block'
  .divider
    .card
      .card-body.card-header.border-left-yellow
        .card-title
          Operações
          = link_to "javascript:void(0)", class: "collapsing-link" do
            %i.fa.fa-minus
      .card-body.card-list
        = link_to "Adicionar unidade", new_unit_path, class: 'filter-nav-item', remote: true
        %hr.divider
        = link_to "Gestão de etiquetas", "#", class: "filter-nav-item"
        = link_to "Gestão de escrituras", "#", class: "filter-nav-item"
