#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Voltar para listagem", address.units_path(filter_params)
      %hr.divider
      = link_to "Adicionar imagem", "#", class: 'filter-nav-item'
      = link_to "Adicionar observação", "#", class: 'filter-nav-item'
      = link_to "Adicionar etiqueta", "#", class: 'filter-nav-item'
      = link_to "Editar detalhes imóvel", "#", class: 'filter-nav-item'
      = link_to "Editar dados de cartório", "#", class: 'filter-nav-item'
      = link_to "Editar dados de registro", "#", class: 'filter-nav-item'
      %hr.divider
      = link_to "Distribuir", "#", class: 'filter-nav-item'
      = link_to "Reservar", new_unit_booking_path(@unit), remote: true, class: 'filter-nav-item'
      = link_to "Transferir", "#", class: 'filter-nav-item'
      = link_to "Distratar", "#", class: 'filter-nav-item'
      = link_to "Sobrestar", "#", class: 'filter-nav-item'
