#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_id, as: :string, label: "Por Nº", placeholder: "Informe o número"
        = f.input :by_ticket_type, as: :select, label: "Por tipo", collection: {}, include_blank: t(:include_blank)
        = f.input :by_situation, as: :select,label: "Por situação", include_blank: t(:include_blank)
        = f.input :by_staff_id, as: :select, collection: Candidate::Program.status_active.order(:id), label: "Por solicitante", include_blank: t(:include_blank)
        = f.input :by_attendant_id, as: :select, collection: Candidate::Program.status_active.order(:id), label: "Por atendente", include_blank: t(:include_blank)
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Abrir novo chamado", helpdesk.new_ticket_path, remote: true, data: { disable_with: t(:disable_with)}
      %hr.divider
      = link_to "Gestão de tipos", helpdesk.ticket_types_path, data: { disable_with: t(:disable_with)}
      = link_to "Gestão de locais", helpdesk.ticket_locations_path, data: { disable_with: t(:disable_with)}
