.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@tickets.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Nº
          %th Data/Hora
          %th Tipo
          %th Assunto
          %th Solicitante
          %th Atendente
          %th Situação
          %th
      %tbody
        - if @tickets.present?
          - @tickets.each do |ticket|
            %tr{class: "#{ticket.presenter.due_class}"}
              %td.collapsing
                %b= link_to ticket.id, helpdesk.ticket_path(ticket), remote: true
              %td.collapsing= ticket.created_at.strftime("%d/%m/%Y %H:%M")
              %td.collapsing= ticket.ticket_type.name.humanize rescue t(:no_info)
              %td= ticket.ticket_subject.name.humanize rescue t(:no_info)
              %td.collapsing= ticket.user.presenter.short_name rescue t(:no_info)
              %td.collapsing= ticket.attendant.presenter.short_name rescue t(:no_info)
              %td.collapsing= ticket.presenter.current_situation 
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", helpdesk.ticket_path(ticket), remote: true, class: 'dropdown-item'
                    = link_to "Atender", helpdesk.ticket_answer_path(ticket), remote: true, class: 'dropdown-item'
                    = link_to "Finalizar", helpdesk.ticket_path(ticket), remote: true, class: 'dropdown-item'
                    = link_to "Cancelar", helpdesk.ticket_path(ticket), remote: true, class: 'dropdown-item'
          %tfoot
            %tr
              %td.text-center{colspan: 8}
                = pagy_bootstrap_nav(@pagy).html_safe              
        - else
          %tr
            %td{colspan: 8}
              %i Nenhum chamado registrado.