.modal-dialog.modal-xl
  .modal-content
    .modal-header
      %h5.modal-title Detalhamento de chamado - ##{@ticket.id}
      %a.close
        %i.fas.fa-times
    .modal-body
      %h6
        %b Informações
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th N°
            %th Data/Hora
            %th Tipo
            %th Assunto
        %tbody
          %tr
            %td.collapsing= @ticket.id
            %td.collapsing= @ticket.created_at.strftime("%d/%m/%Y %H:%M")
            %td.collapsing= @ticket.ticket_type.name rescue t(:no_info)
            %td= @ticket.ticket_subject.name rescue t(:no_info)              

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.collapsing Solicitante
            %th.collapsing Atendente
            %th.collapsing Situação
        %tbody
          %tr
            %td= @ticket.staff.presenter.short_name rescue t(:no_info) 
            %td 
            %td= @ticket.ticket_situaton_type.name rescue t(:no_info)        
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Local
            %th Agendado
            %th Agendamento (Data)
            %th Agendamento (Hora)
        %tbody
          %tr
            %td= @ticket.ticket_location.name rescue t(:no_info)
            %td= @ticket.schedule ? "Sim" : "Não"
            %td= @ticket.schedule_date.strftime("%d/%m/%Y") rescue t(:no_info)
            %td= @ticket.schedule_hour.strftime("%H:%M") rescue t(:no_info)

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Descrição
        %tbody
          %tr
            %td= @ticket.description.html_safe  
      
      .mt-4
      %h6
        %b Arquivos (#{@ticket.ticket_attachments.count})
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Link
        %tbody
          - if @ticket.ticket_attachments.present?
            - @ticket.ticket_attachments.order(:id).each_with_index do |attach, index|
              %tr
                %td.collapsing= index + 1
                %td= link_to "Visualizar arquivo", attach.document_url, target: '_blank' if attach.document?
          - else
            %tr
              %td{colspan: 2}
                %i Nenhum arquivo anexo.

      .ticket-activity-content
        = render 'helpdesk/ticket_activities/index'

      - if @ticket.policy.is_open?
        .ticket-activity-form
          = render 'helpdesk/ticket_activities/form'