.card
  .card-body.card-header.border-left-yellow
    .card-title 
      Listando (#{@requeriment_categories.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'

  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Nome
          %th Descrição
          %th CPF externo
          %th Programas
          %th Situações
          %th Ativo?
          %th 
      %tbody
        - if @requeriment_categories.present?
          - @requeriment_categories.each do |category|
            %tr{class: "row-category-#{category.id}"}
              %td= category.name
              %td= category.description
              %td= category.outside_cadastre.status_format
              %td= category.program_id
              %td= category.situation ? category.situation_id : 'Nenhuma situação'
              %td= category.status.status_format
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Editar", attendance.edit_requeriment_category_path(category), class: 'dropdown-item', remote: true                
                    = link_to "Excluir", attendance.requeriment_category_path(category), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
        - else
          %tr
            %td{colspan: 6}
              Nenhum requerimento listado.