= simple_form_for @situation, remote: true do |f|
  .row
    .col-12
      = f.input :name, placeholder: 'Informe o nome da situação'
  .row
    .col-12
      = f.input :description, placeholder: 'Descreva a situação'
  .row
    .col-4
      = f.input :status, as: :select, include_blank: false
  .divider
  .row
    .col-12
      = f.button :submit, class: 'btn btn-success'