#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_situation, as: :select,  label: "Por situação", include_blank: t(:include_blank_all), input_html: { name: :by_situation }
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block'
        = link_to "Limpar", url_for, class: 'btn btn-dark btn-block'
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar engine", pivotal.new_system_engine_path, remote: true
      %hr.divider
      = link_to "Gestão de setores", pivotal.sectors_path
      = link_to "Gestão de cargos", pivotal.jobs_path
