.card
  .card-body.card-header.border-left-yellow
    .card-title 
      %a.collapsing-content-link{href:"javascript:void(0)"}
        17. Atividade (#{@cadastre.cadastre_activities.count})
  .card-body.cadastre-activity-display{style: 'display: none'}
    .row
      .col-md-12
        %h6 
          = link_to "+ Adicionar atividade", new_cadastre_cadastre_activity_path(@cadastre), remote: true
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Titulo
              %th Usuário
              %th Conteúdo
              %th tipo 
              %th Data
              %th
          %tbody
            - if @cadastre.cadastre_activities.present? 
              - @cadastre.cadastre_activities.order(:date).each do |cadastre_activity|
                %tr{class: "row-cadastre-activity-#{cadastre_activity.id}"}
                  %td= cadastre_activity.title
                  %td= cadastre_activity.user.name
                  %td= cadastre_activity.justify
                  %td= cadastre_activity.activity_type.name
                  - if cadastre_activity.date?
                    %td= cadastre_activity.date.format_date
                  - else
                    %td= cadastre_activity.created_at.format_date
                  %td.collapsing
                    .dropdown
                      %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %i.fa.fa-cog
                        %i.ti-angle-down
                      .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                        = link_to "Editar", candidate.edit_cadastre_cadastre_activity_path(@cadastre, cadastre_activity), remote: true, class: 'dropdown-item'
                        = link_to "Excluir", candidate.cadastre_cadastre_activity_path(@cadastre, cadastre_activity), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
            - else
              %tr
                %td{colspan: 3}
                  Nenhum assunto registrado.