
.card
  .card-body.card-header.border-left-yellow
    .card-title
      %a.collapsing-content-link{href:"javascript:void(0)"}
        1. Informações básicas
  .card-body.basic-display{style: 'display: none'}
    .row
      .col-12
        %p.title-xs.bold Dados básicos
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th ID
              %th Nome
              %th CPF
              %th RG
              %th.collapsing Expedidor
              %th.collapsing RG UF
              %th.collapsing Data de nascimento
              %th Idade
          %tbody
            %tr
              %td.collapsing= @cadastre.id
              %td= @cadastre.name
              %td.collapsing= @cadastre.cpf.format_cpf rescue t(:no_info)
              %td.collapsing= @cadastre.rg
              %td.collapsing= @cadastre.rg_org
              %td.collapsing= @cadastre.rg_uf.acronym rescue t(:no_info)
              %td.collapsing= @cadastre.born.format_date rescue t(:no_info)
              %td.collapsing= @cadastre.age rescue t(:no_info)
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Estado civil
              %th.collapsing Renda (individual)
              %th.collapsing Renda (familiar)
              %th.collapsing Naturalidade
              %th.collapsing Condição especial
              %th NIS
              %th CID

          %tbody
            %tr
              %td.collapsing= @cadastre.civil_state.name rescue t(:no_info)
              %td.collapsing= number_to_currency @cadastre.personal_income
              %td.collapsing= number_to_currency @cadastre.family_income
              %td.collapsing= @cadastre.place_birth
              %td.collapsing Deficiente físico
              %td.collapsing= @cadastre.nis
              %td.collapsing= @cadastre.cid

        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Nome (Mãe)
              %th.collapsing Nome (Pai)

          %tbody
            %tr
              %td.collapsing= @cadastre.mother_name
              %td.collapsing= @cadastre.father_name
    - if @cadastre.spouse.present?
      .row
        .col-12
          .title-xs.bold Cônjuge
          .divider
          %table.table.table-striped.table-bordered.table-celled
            %thead
              %tr
                %th.collapsing Nome
                %th.collapsing CPF
                %th.collapsing Dt. nascimento
                %th.collapsing Idade
                %th.collapsing RG
                %th.collapsing Expedidor
                %th.collapsing RG UF
                %th.collapsing Condição especial

            %tbody
              %tr
                %td.collapsing= @cadastre.spouse.name rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.cpf.format_cpf rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.born.format_date rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.age rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.rg rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.rg_org rescue t(:no_info)
                %td.collapsing= @cadastre.spouse.rg_uf.name rescue t(:no_info)
                %td.collapsing Não
    - if @cadastre.dependents.present?
      .row
        .col-12
          .title-xs.bold Dependentes
          .divider
          %table.table.table-striped.table-bordered.table-celled
            %thead
              %tr
                %th.collapsing Nome
                %th.collapsing CPF
                %th.collapsing Dt. nascimento
                %th.collapsing Idade
                %th.collapsing RG
                %th.collapsing RG ORG
                %th.collapsing RG UF
                %th.collapsing Condição especial
            %tbody
              - @cadastre.dependents.each do |dependent|
                %tr
                  %td.collapsing= dependent.name
                  %td.collapsing= dependent.cpf.format_cpf rescue t(:no_info)
                  %td.collapsing= dependent.born.format_date rescue t(:no_info)
                  %td.collapsing= dependent.age rescue t(:no_info)
                  %td.collapsing= dependent.rg
                  %td.collapsing= dependent.rg_org
                  %td.collapsing= dependent.rg_uf.name rescue t(:no_info)
                  %td.collapsing= dependent.special_condition_type.name rescue t(:no_info)
    .row
      .col-12
        .title-xs.bold Contato
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing CEP
              %th.collapsing Cidade
              %th.collapsing UF
              %th.collapsing Endereço
              %th.collapsing Complemento

          %tbody
            %tr
              %td.collapsing= @cadastre.cep
              %td.collapsing= @cadastre.city.name rescue t(:no_info)
              %td.collapsing= @cadastre.state.name rescue t(:no_info)
              %td.collapsing= @cadastre.address
              %td.collapsing= @cadastre.address_complement
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Telefone
              %th.collapsing Telefone (Secundário)
              %th.collapsing Celular
              %th.collapsing E-mail
              %th.collapsing Possui App?

          %tbody
            %tr
              %td.collapsing= @cadastre.telephone
              %td.collapsing= @cadastre.telephone_optional
              %td.collapsing= @cadastre.celphone
              %td.collapsing= @cadastre.email
              %td.collapsing Sim
