
.card
  .card-body.card-header.border-left-yellow
    .card-title 
      = link_to "javascript:void(0)", class: "collapsing-content-link" do
        1. Informações básicas
  .card-body.basic-display{style: 'display: none'}
    .row
      .col-12
        %p.title-xs.bold Dados básicos
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th ID
              %th Nome
              %th CPF
              %th RG
              %th.collapsing RG ORG
              %th.collapsing RG UF
              %th.collapsing Data de nascimento
              %th Idade
          %tbody
            %tr
              %td.collapsing 1
              %td OSVALDO PEREIRA DA CUNHA
              %td.collapsing 610.211.991-68
              %td.collapsing 454654
              %td.collapsing SSP 
              %td.collapsing DF
              %td.collapsing Sem informação
              %td.collapsing 65 ano(s)
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Estado civil
              %th.collapsing Renda (individual)
              %th.collapsing Renda (familiar)
              %th.collapsing Naturalidade
              %th.collapsing Condição especial
              %th NIS
              %th CID
            
          %tbody
            %tr
              %td.collapsing 
              %td.collapsing R$ 2560.00
              %td.collapsing R$ 3000.00
              %td.collapsing 
              %td.collapsing Deficiente físico
              %td.collapsing 610.211.991-68
              %td.collapsing 454654

        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Nome (Mãe)
            
          %tbody
            %tr
              %td.collapsing                
    .row
      .col-12
        .title-xs.bold Cônjuge
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Nome
              %th.collapsing CPF
              %th.collapsing Dt. nascimento
              %th.collapsing Idade
              %th.collapsing RG
              %th.collapsing RG ORG
              %th.collapsing RG UF
              %th.collapsing Condição especial
            
          %tbody
            %tr
              %td.collapsing OSVALDO PEREIRA DA CUNHA
              %td.collapsing 610.211.991-68
              %td.collapsing 01/01/2012
              %td.collapsing 75 ano(s)
              %td.collapsing 454654            
              %td.collapsing SSP            
              %td.collapsing DF            
              %td.collapsing Não 

    .row
      .col-12
        .title-xs.bold Dependentes
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Nome
              %th.collapsing CPF
              %th.collapsing Dt. nascimento
              %th.collapsing Idade
              %th.collapsing RG
              %th.collapsing RG ORG
              %th.collapsing RG UF
              %th.collapsing Condição especial
            
          %tbody
            %tr
              %td.collapsing OSVALDO PEREIRA DA CUNHA
              %td.collapsing 610.211.991-68
              %td.collapsing 01/01/2012
              %td.collapsing 75 ano(s)
              %td.collapsing 454654            
              %td.collapsing SSP            
              %td.collapsing DF            
              %td.collapsing Não   
    .row
      .col-12
        .title-xs.bold Contato
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing CEP
              %th.collapsing Cidade
              %th.collapsing UF
              %th.collapsing Endereço
              %th.collapsing Complemento
            
          %tbody
            %tr
              %td.collapsing= @cadastre.cep
              %td.collapsing= @cadastre.city.name rescue nil
              %td.collapsing= @cadastre.state.name rescue nil
              %td.collapsing= @cadastre.address
              %td.collapsing= @cadastre.address_complement
        .divider
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Telefone
              %th.collapsing Telefone (Secundário)
              %th.collapsing Celular
              %th.collapsing E-mail
              %th.collapsing Possui App?
            
          %tbody
            %tr
              %td.collapsing= @cadastre.telephone
              %td.collapsing= @cadastre.telephone_optional
              %td.collapsing= @cadastre.celphone
              %td.collapsing= @cadastre.email
              %td.collapsing Sim            