
.card
  .card-body.card-header.border-left-yellow
    .card-title 
      = link_to "javascript:void(0)", class: "collapsing-content-link" do
        2. Dependente (#{@cadastre.dependents.count})
  .card-body.dependent-display{style: 'display: none'} 
    .row
      .col-md-12
        %h5 
        = link_to "Adicionar dependente", new_cadastre_dependent_path(@cadastre), remote: true, data: { disable_with: t(:disable_with)}
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Nome
              %th Cpf
              %th Renda
              %th Parentesco
              %th
          %tbody
            - if @cadastre.dependents.present? 
              - @cadastre.dependents.order(:name).each do |dependent|
                %tr{class: "row-dependent-#{dependent.id}"}
                  %td= dependent.name
                  %td= dependent.cpf
                  %td= dependent.income
                  %td= dependent.kinship.name
                  %td.collapsing
                    = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, candidate.edit_cadastre_dependent_path(@cadastre, dependent), remote: true, class: 'btn btn-info btn-icon btn-sm', data: { disable_with: t(:disable_with)}
                    = link_to "<i class='fa fa-trash'></i>".html_safe, candidate.cadastre_dependent_path(@cadastre, dependent), method: :delete, remote: true, class: 'btn btn-danger btn-icon btn-sm', data: { confirm: t(:confirm)}
            - else
              %tr
                %td{colspan: 3}
                  Nenhum assunto registrado.