
.card
  .card-body.card-header.border-left-yellow
    .card-title
      %a.collapsing-content-link{href:"javascript:void(0)"}
        4. Pontuação (#{@cadastre.cadastre_pontuations.count rescue 0})
  .card-body{style: 'display: none'}
    .row
      .col-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th.collapsing Data
              %th Tempo de bsb
              %th Dependentes
              %th Tempo de lista
              %th Condição especial
              %th Renda
              %th Pontuação total
          %tbody
            - if @cadastre.cadastre_pontuations.present?
              - @cadastre.cadastre_pontuations.order(created_at: :desc).each do |cadastre_pontuation|
                %tr{class: "row-cadastre-pontuation-#{cadastre_pontuation.id}"}
                  %td= cadastre_pontuation.created_at.format_date rescue t(:no_info)
                  %td= cadastre_pontuation.bsb
                  %td= cadastre_pontuation.dependent
                  %td= cadastre_pontuation.timelist
                  %td= cadastre_pontuation.special_condition
                  %td= cadastre_pontuation.income
                  %td= cadastre_pontuation.total                  
            - else
              %tr
                %td{colspan: 6}
                  Nenhum assunto registrado.
