.card
  .card-body.card-header.border-left-yellow
    .card-title
      %a.collapsing-content-link{href:"javascript:void(0)"}
        4. Situação cadastral (#{@cadastre.cadastre_situations.count})
  .card-body.situation-display{style: 'display: none'}
    .row
      .col-md-12
        %h6
          = link_to "+ Adicionar situação", new_cadastre_cadastre_situation_path(@cadastre), remote: true
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Data
              %th Situação
              %th Usuário
              %th Convocação
              %th Observação
              %th
          %tbody
            - if @cadastre.cadastre_situations.present?
              - @cadastre.cadastre_situations.order(created_at: :desc).each do |cadastre_situation|
                %tr{class: "row-cadastre-situation-#{cadastre_situation.id}"}
                  - if cadastre_situation.date?
                    %td= cadastre_situation.date.format_date
                  - else
                    %td= cadastre_situation.created_at.format_date rescue t(:no_info)
                  %td= cadastre_situation.situation_type.name rescue t(:no_info)
                  %td= cadastre_situation.user.name rescue t(:no_info)
                  %td= cadastre_situation.cadastre_convocation.convocation.name rescue t(:no_info)
                  %td= cadastre_situation.observation
                  %td.collapsing
                    .dropdown
                      %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %i.fa.fa-cog
                        %i.ti-angle-down
                      .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                        = link_to "Editar", candidate.edit_cadastre_cadastre_situation_path(@cadastre, cadastre_situation), remote: true, class: 'dropdown-item'
                        = link_to "Excluir", candidate.cadastre_cadastre_situation_path(@cadastre, cadastre_situation), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
            - else
              %tr
                %td{colspan: 6}
                  Nenhum assunto registrado.
