.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@agenda_reference_categories.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %td Id
          %td Nome
          %td Descrição
          %td Situação
          %td        
      %tbody
        - if @agenda_reference_categories.present?
          - @agenda_reference_categories.each do |agenda_reference_category|
            %tr{class: "row-agenda_reference_category-#{agenda_reference_category.id}"}
              %td.collapsing= agenda_reference_category.id
              %td= agenda_reference_category.name.humanize
              %td= agenda_reference_category.description
              %td.collapsing= agenda_reference_category.status ? "Sim" : "Não"
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Cadastros", attendance.agenda_reference_category_agenda_references_path(agenda_reference_category), class: 'dropdown-item'
                    = link_to "Editar", attendance.edit_agenda_reference_category_path(agenda_reference_category), remote: true, class: 'dropdown-item'
                    = link_to "Remover", attendance.agenda_reference_category_path(agenda_reference_category), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 5}
              %i Nenhum registro encontrado.
                  