.card
  .card-heading.custom-border-left
    .card-title
      Tipos de documentos
      = "(#{@document_types.count})"
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nº
          %th Nome
          %th Status
          %th
      %tbody
        - if @document_types.present?
          -@document_types.each do |document_type|
            %tr
              %td.collapsing= document_type.id
              %td= document_type.name
              %td.collapsing= document_type.status? ? "Ativo" : "Inativo"
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", document_type_path(document_type), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
                    = link_to "Editar", edit_document_type_path(document_type), class: 'dropdown-item', remote: true
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum registro encontrado.
