.card
  .card-body.card-header.border-left-yellow
    .card-title 
      Listando () registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'

  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th ID
          %th Nome
          %th CPF
          %th Convocação
          %th Criador
          %th Data de criação
          %th
      %tbody
        - if @eventuals.present?
          - @eventuals.each do |eventual|
            %tr
              %td= eventual.id
              %td= eventual.cadastre.name
              %td= eventual.cadastre.cpf.cpf_format
              %td= eventual.convocation.name rescue t(:no_info)
              %td= eventual.user.name
              %td= eventual.created_at.format_date
              %td
        - else
          %tr
            %td
              %i Nenhum registro encontrado. 