= simple_form_for @invoice_type, remote: true do |f|
  = f.input :name, placeholder: 'Digite o tipo de boleto'
  = f.input :status, as: :select
  = f.input :account, placeholder: 'Digite a conta'
  = f.button :submit, class: 'btn btn-success'