.card
  .card-heading.custom-border-left
    .card-title
      Tipo de boleto
      = "(#{@invoice_types.count})"    
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nº
          %th Nome
          %th Conta
          %th Status
          %th
      %tbody
        - if @invoice_types.present?
          -@invoice_types.order(:name).each do |invoice_type|
            %tr
              %td.collapsing= invoice_type.id
              %td= invoice_type.name
              %td= invoice_type.account
              %td.collapsing= invoice_type.status? ? "Ativo" : "Inativo"
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Excluir", invoice_type_path(invoice_type), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true
                    = link_to "Editar", edit_invoice_type_path(invoice_type), class: 'dropdown-item', remote: true
        - else
          %tr
            %td{colspan: 6}
              %i Nenhum tipo de boleto registrado.