= simple_form_for @station, remote: true do |f|
  .row
    .col-md-12
      = f.input :name, placeholder: 'Digite o nome'
  .row
    .col-md-4
      = f.input :lat, placeholder: 'Digite a latitude'
    .col-md-4
      = f.input :lng, placeholder: 'Digite a longitude'
    .col-md-4
      = f.input :status,as: :select, includ_blank: 'Selecione...'
  .row
    .col-md-12
      = f.input :description, placeholder: 'Digite uma descrição'
  .divider-sm
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'