#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar atendente", new_station_attendant_station_path(@station), remote: true
      %hr/
      = link_to "Voltar para listagem", attendance.stations_path
      = link_to "Gestão de atendentes", attendance.attendants_path, class: 'filter-nav-item'
      = link_to "Gestão de atendimentos", attendance.dailies_path, class: 'filter-nav-item'