= simple_form_for @password, remote: true do |f|
  = f.input :password_current
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with) }