.container-fluid
  .page-title
  .row
    .col-md-12
      .card
        .card-block
          %h3 Histórico de acesso
          .divider-sm
          %table.table.table-bordered
            %thead
              %tr
                %td{colspan: 4}
                  = pagy_bootstrap_nav(@pagy).html_safe
              %tr
                %td.collapsing Data/Hora
                %td Ação
                %td IP
            %tbody
              - @logs.each do |log|
                %tr
                  %td.collapsing= log.created_at.strftime('%d/%m/%Y %H:%M')
                  %td.collapsing= log.target_action == 'signin' ? 'Entrou' : 'Finalizou' 
                  %td= log.ip
            %tfoot
              %tr
                %td{colspan: 4}
                  = pagy_bootstrap_nav(@pagy).html_safe