.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@<%= @model_name.pluralize %>.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
        <%- @attributes.each do |attr| %>
          %td <%= attr %>
        <% end %>
      %tbody
        - if @<%= @model_name.pluralize %>.present?
          - @<%= @model_name.pluralize %>.each do |<%= @model_name %>|
            %tr{class: "row-<%= @model_name %>-#{<%= @model_name %>.id}"}
            <%- @attributes.each do |attr| %>
              %td= <%= @model_name %>.<%= attr %>
            <% end %>
              %td
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", <%= @engine_name %>.<%= @model_name %>_path(<%= @model_name %>), class: 'dropdown-item'
                    = link_to "Editar", <%= @engine_name %>.edit_<%= @model_name %>_path(<%= @model_name %>), remote: true, class: 'dropdown-item'
                    = link_to "Remover", <%= @engine_name %>.<%= @model_name %>_path(<%= @model_name %>), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: <%= @attributes.count %>}
              %i Nenhum registro encontrado.
                  