= simple_form_for @sector, remote: true do |f|
  .row
    .col-12
      = f.input :name, placeholder: 'Informe o nome do setor'
  .row
    .col-6
      = f.input :acron
    .col-6
      = f.input :prefex
  .row
    .col-12
      = f.input :father_id, as: :select, collection: Pivotal::Sector.status_active.order(:name), include_blank: t(:include_blank)
  .row
    .col-12
      = f.input :responsible_id, as: :select, collection: Pivotal::User.status_active.order(:name), include_blank: t(:include_blank)
  
  .row
    .col-4
      = f.input :status, as: :select, include_blank: false
    .col-4
      = f.input :code
    .col-4
      = f.input :color  
  .divider
  = f.button :submit, class: 'btn btn-success'