#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Novo Candidato", new_allotment_parcial_exemption_path(@allotment), class: 'filter-nav-item',  remote: true
      = link_to "Reprocessar", allotment_to_process_path(@allotment), class: 'filter-nav-item'
      = link_to "Enviar Solicitação", allotment_send_parcial_cancelation_path(@allotment), class: 'filter-nav-item'
      = link_to "Voltar para lotes", allotments_path, class: 'filter-nav-item'
