.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@cities.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'

  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Nº
          %th Nome
          %th Status
          %th
      %tbody
        - if @cities.present?
          -@cities.each do |city|
            %tr{class: "row-type-#{city.id}"}
              %td.collapsing= city.id
              %td= city.name
              %td.collapsing= city.status.status_format
              %td.collapsing
                .dropdown
                  %button.btn.btn-success.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Bairros", city_burghs_path(city), class: 'dropdown-item'
                    = link_to "Editar", edit_city_path(city), class: 'dropdown-item', remote: true
                    = link_to "Excluir", city_path(city), method: :delete, class: 'dropdown-item', data: {confirm: t(:confirm)}, remote: true

        - else
          %tr
            %td{colspan: 6}
              %i Nenhum registro encontrado.
