!!!
%html
  %body
    %h3= "Dados do usuário - desligado"
    %p= "Nome: #{@staff.name}"
    %p= "Matrícula: #{@staff.code}"
    %p= "Cargo: #{@staff.job.name}"
    %p= "Setor: #{@staff.sector_current.name}"
