.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@agenda_categories.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %td Id
          %td Nome
          %td Status
          %td
      %tbody
        - if @agenda_categories.present?
          - @agenda_categories.each do |agenda_category|
            %tr{class: "row-agenda_category-#{agenda_category.id}"}
              %td.collapsing= agenda_category.id
              %td= agenda_category.name.humanize
              %td.collapsing= agenda_category.status ? 'Ativo' : 'Inativo'
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Editar", attendance.edit_agenda_category_path(agenda_category), remote: true, class: 'dropdown-item'
                    = link_to "Remover", attendance.agenda_category_path(agenda_category), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 4}
              %i Nenhum registro encontrado.
                  