.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listagem
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Tipo
          %th Nome
          %th CPF
          %th Situação
          %th Programa
          %th Ocorrências
      %tbody
        - if @cadastres.present?
          - @cadastres.each do |cadastre|
            %tr
              %td.collapsing
                = cadastre.type_row_format
              %td
                = link_to cadastre.name, candidate.cadastre_path(cadastre), title: cadastre.id
              %td.collapsing
                = link_to  cadastre.cpf.format_cpf, candidate.cadastre_path(cadastre)
              %td.collapsing
                = cadastre.situation_name rescue t(:no_info)
              %td.collapsing
                = cadastre.program_name rescue t(:no_info)
              %td.collapsing