#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_cpf, as: :string, label: "Por CPF", input_html: { class: 'cpf', name: :by_cpf, value: params[:by_cpf]}
        = f.input :by_name, as: :string, label: "Por nome", input_html: { name: :by_name, value: params[:by_name]}
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block', data: { disable_with: t(:disable_with)} 
        = link_to "Limpar", url_for, class: 'btn btn-dark btn-block' 
