#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Filtro
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body
      = simple_form_for url_for, method: :get, remote: true do |f|
        = f.input :by_cpf, as: :string, label: "Por CPF", input_html: { class: 'cpf', name: :by_cpf, value: params[:by_cpf]}
        = f.input :by_name, as: :string, label: "Por nome"
        .mt-4
        = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-block', data: { disable_with: t(:disable_with)} 
        = link_to "Limpar", url_for, class: 'btn btn-dark btn-block' 
  .divider
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Gestão de convocações", helpdesk.new_ticket_path, remote: true
      = link_to "Gestão de sorteios", helpdesk.new_ticket_path, remote: true
      %hr.divider
      = link_to "Gestão de situação cadastral", entity.cadastre_situations_path
      = link_to "Gestão de situação processual", entity.cadastre_situations_path
      = link_to "Gestão de listas", entity.cadastre_situations_path
      %hr.divider
      = link_to "Gestão de cadastreo imobiliário", entity.cadastre_situations_path
      = link_to "Gestão de convocação", entity.cadastre_situations_path
      = link_to "Gestão de tipos de indicação", entity.cadastre_situations_path
      = link_to "Gestão de lotes de indicação", entity.cadastre_situations_path
      = link_to "Gestão de iptu", entity.cadastre_situations_path
      = link_to "Gestão de listas", entity.cadastre_situations_path
      = link_to "Gestão de ocorrêcia", entity.cadastre_situations_path
      = link_to "Gestão de tipos de processos", entity.cadastre_situations_path
      = link_to "Gestão de tipos de situação", entity.cadastre_situations_path
      