#sidebar
  .card
    .card-body.card-header.border-left-yellow
      .card-title 
        Operações
        = link_to "javascript:void(0)", class: "collapsing-link" do
          %i.fa.fa-minus
    .card-body.card-list
      = link_to "Adicionar situação cadastral", candidate.new_cadastre_cadastre_situation_path(@cadastre), remote: true
      = link_to "Adicionar convocação", candidate.new_cadastre_cadastre_convocation_path(@cadastre), remote: true
      = link_to "Adicionar reserva de endereço", "#"
      %hr.divider
      = link_to "Atualizar dados de contato", "#"
      = link_to "Atualizar dados gerais", "#"
      = link_to "Adicionar dependente", candidate.new_cadastre_dependent_path(@cadastre),  remote: true
      = link_to "Adicionar herdeiro", candidate.new_cadastre_cadastre_inheritor_path(@cadastre),  remote: true
      %hr.divider      
      = link_to "Gerar pontuação", "#"
      %hr.divider
      = link_to "Adicionar ocorrência", "#"
      = link_to "Adicionar indicação", "#"
      %hr.divider
      = link_to "Agendar atendimento", "#"         
      = link_to "Iniciar uma conversa", "#"         
      = link_to "Enviar notificação", "#"       
      = link_to "Enviar mensagem", "#"       
      = link_to "Adicionar atividade", candidate.new_cadastre_cadastre_activity_path(@cadastre),  remote: true
      %hr.divider
      = link_to "Emitir ficha cadastral", "#"       
      %hr.divider
      = link_to "Alertar inconsistência cadastral", "#"       