#candidate-content
  %exitx
  .row
    .col-12
      .header-content
        = render 'candidate/cadastres/partials/header'

  .row.content
    .col-12
      .basic-content
        = render 'candidate/cadastres/partials/basic'

  .row.content
    .col-12
      .dependent-content
        = render 'candidate/cadastres/partials/dependent'
  
  .row.content
    .col-12
      .cadastre-inheritor-content
        = render 'candidate/cadastres/partials/inheritor'


  .row.content
    .col-12
      .convocation-content
        = render 'candidate/cadastres/partials/convocation'
        
  .row.content
    .col-12
      .situation-cadastre-content
        = render 'candidate/cadastres/partials/situation_cadastre'
 
  .row.content
    .col-12
      .situation-procedural-content
        = render 'candidate/cadastres/partials/situation_procedural'

  .row.content
    .col-12
      .pontuation-content
        = render 'candidate/cadastres/partials/pontuation'
        
  .row.content
    .col-12
      .occurrence-content
        = render 'candidate/cadastres/partials/occurrence'
  .row.content
    .col-12
      .cadastre-history-content
        = render 'candidate/cadastres/partials/cadastre_history'
      
  .row.content
    .col-12
      .indication-content
        = render 'candidate/cadastres/partials/indication'
      
      
  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/unit'
      

  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/document'

  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/schedule'
      
  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/attendance'
      
  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/invoice'        


  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/sefaz_itcd_itbi'        

  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/notification'  

  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/communication'          
  
  .row.content
    .col-12
      .cadastre-activity-content
        = render 'candidate/cadastres/partials/activity'  

  .row.content
    .col-12
      .unit-content
        = render 'candidate/cadastres/partials/audit'  
