.card
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Número do Processo
          %th Orgão
          %th Valor da Ação
          %th Valor da Condenação
      %tbody
        %tr
          %td= @legal_advice.process_number
          %td= @legal_advice.agency
          %td= @legal_advice.lawsuit_value
          %td= @legal_advice.condemnation_value
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Veredito
          %th Probalidade
          %th Instância
          %th Local da Instância
      %tbody
        %tr
          %td= @legal_advice.veredict
          %td= @legal_advice.probability
          %td= @legal_advice.instancy_place.instancy.name rescue t(:no_information)
          %td= @legal_advice..instancy_place.name rescue t(:no_information)
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Tipo de Ação
          %th Tipo de Processo
          %th Autor(es)
          %th Réu(s)
      %tbody
        %tr
          %td= @legal_advice.lawsuit.name rescue t(:no_info)
          %td= @legal_advice.process_type == false ? "Normal" : "Eletrônico"
          %td
            - @complainants.each do |c|
              = c.name.upcase if c.name.present?
              %br
          %td
            - @defendants.each do |c|
              = c.name.upcase if c.name.present?
              %br
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Data de inclusão
          %th Status
          %th Processo Administrativo
          %th Advogado Responsável
      %tbody
        %tr
          %td= @legal_advice.created_at.strftime("%d/%m/%Y %H:%M:%S")
          %td
            - if @legal_advice.status == true
              .ui.green.label Aberto
            - else
              .ui.red.label Fechado
          %td= @legal_advice.assessment_number rescue t(:no_info)
          %td= @legal_advice.responsible_lawyer.name rescue t(:no_info)
  - if @return.present? && !@return.empty?
    .card-body
      %table.ui.celled.striped.table
        %thead
          %tr
            %th Data
            %th Descrição
            %th Complemento
            %th Advogado responsável
            %th Status
        %tbody
          - @return.each_with_index do |data, index|
            - if data.present?
              %tr
                %td.col-md-2= data[0].strftime('%d/%m/%Y - %H:%M:%S') if data[0].present?
                %td= data[1]
                %td= data[2]
                %td= data[3]
                %td
                  - if data[4]
                    .ui.green.label Aberto
                  - if data[4] == false
                    .ui.red.label Fechado
