.card
  .card-body.card-header.border-left-yellow
    .card-title
      Detalhamento
      .float-right.group-action
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  .card-body
    .row.mb-3
      .col-12
        %h5 #{ @legal_advice.lawsuit.name rescue t(:no_info)}
        %h3
          %b #{@legal_advice.process_number}
        %h6 #{@legal_advice.status ? "Aberto" : "Fechado"}
    .row
      .col-12
        .index-detail
          = render 'detail'
    .row
      .col-12
        .index-complainant-content
          = render 'juridical/complainants/index'
    .row
      .col-12
        .index-defendant-content
          = render 'juridical/defendants/index'
    .row
      .col-12
        .index-complement-content
          = render 'complement'
