.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@enterprise_companies.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr

          %td fantasy_name
        
          %td name
        
          %td description
        
          %td cnpj
        
          %td status
        
          %td telephone
        
          %td email
        
          %td address
        
          %td city_id
        
          %td access_allow
        
          %td user_id
        
          %td state_id
        
      %tbody
        - if @enterprise_companies.present?
          - @enterprise_companies.each do |enterprise_company|
            %tr{class: "row-enterprise_company-#{enterprise_company.id}"}

              %td= enterprise_company.fantasy_name
            
              %td= enterprise_company.name
            
              %td= enterprise_company.description
            
              %td= enterprise_company.cnpj
            
              %td= enterprise_company.status
            
              %td= enterprise_company.telephone
            
              %td= enterprise_company.email
            
              %td= enterprise_company.address
            
              %td= enterprise_company.city_id
            
              %td= enterprise_company.access_allow
            
              %td= enterprise_company.user_id
            
              %td= enterprise_company.state_id
            
              %td
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", address.enterprise_company_path(enterprise_company), class: 'dropdown-item'
                    = link_to "Editar", address.edit_enterprise_company_path(enterprise_company), remote: true, class: 'dropdown-item'
                    = link_to "Remover", address.enterprise_company_path(enterprise_company), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 12}
              %i Nenhum registro encontrado.
                  