%nav#nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "#{pivotal.root_path}"}
          Dashboard
          %span.sr-only (current)
      - each_navs.order(:position).each do |nav|
        - if current_user.user_navs.where(nav_id: nav.id).present? || current_user.administrator?
          - if nav.childrens.present?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = nav.label
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                - nav.childrens.each do |child|
                  - if !child.childrens.present?
                    %a.dropdown-item{href: child.url} 
                      = child.label
                  - else
                    .dropdown.dropright.dropdown-submenu
                      %a.dropdown-item.dropdown-toggle= child.label
                      .dropdown-menu
                        - child.childrens.each do |subchild|
                          %a.dropdown-item{href: subchild.url}
                            = subchild.label
                                
          - else
            %li.nav-item
              %a.nav-link{:href => "#{nav.url}"}
                = nav.label