%nav#topnav.navbar.navbar-expand-lg
  %a.navbar-brand{:href => "#{main_app.root_path}"}
    = image_tag 'negativa-logo.png', width: 130
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #search
    = simple_form_for url_for, url: candidate.search_cadastres_path, method: :get, remote: true do
      .input-group
        %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "Pesquisa", :placeholder => "Pesquisa", :type => "text"}/
        .input-group-append
          %button.btn.btn-primary.btn-sm{type:"submit"}
            %i.fa.fa-search

  %ul.navbar-nav.ml-auto.navbar-right

    %li.nav-item.dropdown.smart-menu
      %a.nav-link.btn.btn-danger.btn-icon.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %i.fa.fa-bolt
        
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
        %a.dropdown-item{:href => "#{helpdesk.new_ticket_path}", :data => { :remote => true }} 
          %i.fa.fa-question.btn.btn-danger
          Abrir chamado
        .dropdown-divider
        
        %a.dropdown-item{:href => "#", :data => { :remote => true }} 
          %i.fa.fa-question.btn.btn-warning
          Lista de ramais
        .dropdown-divider

        %a.dropdown-item{:href => "https://www.gdfnet.df.gov.br/Autenticacao/Login", :target => '_blank'}
          %i.fa.fa-dollar.btn.btn-success
          Contracheque
        .dropdown-divider
        
        %a.dropdown-item{:href => "https://cas.gdfnet.df.gov.br", :target => '_blank'}
          %i.fa.fa-at.btn.btn-secondary
          WebMail
        
        .dropdown-divider
        %a.dropdown-item{:href => "http://sei.df.gov.br", :target => '_blank'}
          %i.fa.fa-file.btn.btn-info
          SEI-GDF
        
        - if attendant_current.present? && attendant_stations_current.present?
          .dropdown-divider
          %a.dropdown-item{:href => "#{attendance.new_control_station_path(situation: "Aberto")}", :data => { :remote => true }}
            %i.fa.fa-file.btn.btn-info
            Abrir posto
          .dropdown-divider
          %a.dropdown-item{:href => "#{attendance.new_control_station_path(situation: "Fechado")}", :data => { :remote => true }}
            %i.fa.fa-file.btn.btn-info
            Fechar posto
    
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        = current_user.presenter.short_name
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
        %a.dropdown-item{:href => "#{pivotal.user_path(current_user)}"} Meu perfil
        %a.dropdown-item{:href => "#{pivotal.edit_password_path(current_user)}", :data => { :remote => true }} Alterar minha senha
        .dropdown-divider
        %a.dropdown-item{:href => "#{pivotal.user_bookmarks_path(current_user)}"} Favoritos
        %a.dropdown-item{:href => "#"} Notificações
        .dropdown-divider
        %a.dropdown-item{:href => "#{pivotal.user_session_logs_path(current_user)}"} Histórico de acesso
        %a.dropdown-item{:href => "#{pivotal.user_logs_path(current_user)}"} Histórico de uso
        .dropdown-divider
        = link_to "Finalizar sessão", pivotal.session_path(current_user), method: :delete, class: 'dropdown-item', data: { confirm: 'Deseja finalizar a sessão atual?' }