.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@agenda_situations.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr

          %td name
        
          %td status
        
      %tbody
        - if @agenda_situations.present?
          - @agenda_situations.each do |agenda_situation|
            %tr{class: "row-agenda_situation-#{agenda_situation.id}"}

              %td= agenda_situation.name
            
              %td= agenda_situation.status
            
              %td
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", attendance.agenda_situation_path(agenda_situation), class: 'dropdown-item'
                    = link_to "Editar", attendance.edit_agenda_situation_path(agenda_situation), remote: true, class: 'dropdown-item'
                    = link_to "Remover", attendance.agenda_situation_path(agenda_situation), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 2}
              %i Nenhum registro encontrado.
                  