= simple_form_for @entity, remote: true do |f|
  = f.input :name
  = f.input :cnpj
  = f.input :acron
  = f.input :telephone
  = f.input :telephone_optional
  = f.input :cell_phone
  = f.input :email
  = f.input :address
  = f.input :address_number
  = f.input :address_complement
  = f.input :cep
  = f.input :observation
  = f.input :status
  = f.input :password
  = f.input :lat
  = f.input :lng