.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@entities.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %th Informações
          %th.collapsing
      %tbody
        - if @entities.present?
          - @entities.each do |row|
            - row.presenter do |e|
              %tr
                %td
                  %h5
                    %b= link_to e.acron, entity.cadastre_path(e), remote: true
                    %br/
                    = e.cnpj
                    %br/
                    %small= e.name
                    %br/
                    %small 
                      %b Presidente:
                      Teste 123
                    %br/
                    .badge.badge-success
                      Credenciada                    
                %td.collapsing
                  .dropdown
                    %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      %i.fa.fa-cog
                      %i.ti-angle-down
                    .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                      = link_to "Visualizar", entity.cadastre_path(e), remote: true, class: 'dropdown-item'
                      = link_to "Detalhar", entity.cadastre_path(e), class: 'dropdown-item'
                      = link_to "Editar", entity.edit_cadastre_path(e), remote: true, class: 'dropdown-item'
        - else
          %tr
            %td{colspan: 2}
              %i Nenhum registro encontrado.
                  