.card
  .card-body.card-header.border-left-yellow
    .card-title
      Detalhamento
  
  .card-body
    .row.mb-3
      .col-12
        %h5 #{@entity.presenter.cnpj}
        %h3
          %b #{@entity.presenter.acron}
        %h6 #{@entity.presenter.name}

    .row
      .col-12
        .index-president-content
          = render 'entity/presidents/index'
    .row
      .col-12
        .index-member-content
          = render 'entity/members/index'
    .row
      .col-12
        .index-contact-content
          = render 'entity/update_contacts/index'
    .row
      .col-12
        .index-enterprise-content
          = render 'entity/enterprises/index'
    .row
      .col-12
        .index-activity-content
          = render 'entity/indications/index'
    .row
      .col-12
        .index-cadastre-activity-content
          = render 'entity/cadastre_activities/index'
    .row
      .col-12
        .index-activity-content
          = render 'entity/cadastre_audits/index'
   
        
  