.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@navs.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %td Nome
          %td Link
          %td Categoria
          %td Ordem
          %td Publicado?
          %td 
      %tbody
        - if @navs.present?
          - @navs.each do |nav|
            %tr{class: "row-nav-#{nav.id}"}
              %td= nav.name
              %td= nav.url
              %td= nav.category_id
              %td= nav.order
              %td= nav.publish? ? "Sim": "Não"
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Detalhar", cms.nav_path(nav), class: 'dropdown-item'
                    = link_to "Editar", cms.edit_nav_path(nav), remote: true, class: 'dropdown-item'
                    = link_to "Remover", cms.nav_path(nav), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 5}
              %i Nenhum registro encontrado.
                  