.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando #{@navs.count} registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  .card-body
    - if @navs.present?
      - @navs.each do |nav|
        %table.table.table-striped.table-celled.table-bordered
          %tbody
            %tr
              %td.collapsing{style: "background-color: #{nav.status ? '#a0eda0' : ''}"}= nav.status.status_format
              %td= nav.label
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Adicionar", pivotal.new_nav_path(father_id: nav.id), remote: true, class: 'dropdown-item'
                    = link_to "Editar", pivotal.edit_nav_path(nav), remote: true, class: 'dropdown-item'
                    = link_to "Remover", pivotal.nav_path(nav), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - if nav.childrens.present?
          - nav.childrens.order(:position).each do |children|
            %table.table.table-striped.table-celled.table-bordered{style: 'margin-left: 60px; width: 96%'}
              %tbody                  
                %tr
                  %td.collapsing{style: "background-color: #{children.status ? '#a0eda0' : ''}"}= children.status.status_format
                  %td= children.label
                  %td.collapsing
                    .dropdown
                      %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %i.fa.fa-cog
                        %i.ti-angle-down
                      .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                        = link_to "Adicionar", pivotal.new_nav_path(father_id: children.id), remote: true, class: 'dropdown-item'
                        = link_to "Editar", pivotal.edit_nav_path(children), remote: true, class: 'dropdown-item'
                        = link_to "Remover", pivotal.nav_path(children), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
            - if children.childrens.present?
              - children.childrens.order(:position).each do |subchildren|
                %table.table.table-striped.table-celled.table-bordered{style: 'margin-left: 120px; width: 92%'}
                  %tbody                  
                    %tr
                      %td.collapsing{style: "background-color: #{subchildren.status ? '#a0eda0' : ''}"}
                        = subchildren.status.status_format
                      %td= subchildren.label
                      %td.collapsing
                        .dropdown
                          %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                            %i.fa.fa-cog
                            %i.ti-angle-down
                          .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                            = link_to "Adicionar", pivotal.new_nav_path(father_id: children.id), remote: true, class: 'dropdown-item'
                            = link_to "Editar", pivotal.edit_nav_path(subchildren), remote: true, class: 'dropdown-item'
                            = link_to "Remover", pivotal.nav_path(subchildren), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}              

        