= simple_form_for @session, remote: true, html: { id: 'form' } do |f|
  - if @session.errors.any?
    .alert.alert-danger.text-center
      Matrícula ou senha inválidos.
  = f.input :code, label: false, placeholder: 'Informe sua matrícula'
  = f.input :password, label: false, placeholder: 'Informe sua senha'
  = f.submit "Realizar acesso", type: 'submit', class: 'btn btn-primary btn-block', data: { disable_with: 'Autenticando...'}
  = link_to "Recuperar senha", "#", class: 'btn btn-dark btn-block'