!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", :name => "viewport"}/
    %title Extranet
    %link{:href => "https://fonts.googleapis.com/css?family=Fira+Sans", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/partials/top_nav'
    = render 'layouts/partials/nav'
    .container-fluid
      = yield
    
    #modal.modal.fade{tabindex: '-1', role: 'dialog'}