!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", :name => "viewport"}/
    %title Extranet
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.pace-done{style: 'background-color: #f3f3f3'}
    .app
      .authentication
        .sign-in-2
          .container-fluid.no-pdd-horizon.bg
            = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'