.card
  .card-body.card-header.border-left-yellow
    .card-title
      Listando (#{@archives.count}) registro(s)
      .float-right.group-action
        = link_to "Excel", "#", class: 'btn btn-secondary btn-sm'
        = link_to "Imprimir", "#", class: 'btn btn-secondary btn-sm'
  
  .card-body
    %table.table.table-bordered.table-striped.table-celled
      %thead
        %tr
          %td Nome
          %td Url
          %td 
      %tbody
        - if @archives.present?
          - @archives.each do |archive|
            %tr{class: "row-archive-#{archive.id}"}
              %td= archive.name
              %td= link_to "http://www.codhab.df.gov.br#{archive.archive.to_s}", archive.archive.to_s, target: '_blank'
              %td.collapsing
                .dropdown
                  %button.btn.btn-primary.btn-icon.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-cog
                    %i.ti-angle-down
                  .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuButton"}
                    = link_to "Editar", cms.edit_archive_path(archive), remote: true, class: 'dropdown-item'
                    = link_to "Remover", cms.archive_path(archive), method: :delete, remote: true, class: 'dropdown-item', data: { confirm: t(:confirm)}
        - else
          %tr
            %td{colspan: 3}
              %i Nenhum registro encontrado.
                  